c_model/lenet
c_model/pad
c_model/pad_img
c_model/pad_knl
sim/INCA_libs/
sim/nWaveLog/
sim/ncverilog.key
sim/novas.*
sim/signals.rc
syn/report
sim/nlint.txt
syn/default.svf
syn/lenet
syn/alib-52

nLint*
*.o
*.fsdb
*.log
